body {
    font-family: Lato;
}
.sag {
    font-size: 14px;
    color: #B1B1B1;
    margin-left: 20px; 
}
.sag2 {
    border-bottom: 1px solid rgba(177, 177, 177, 0.25);
}
.sag3 {
    float: left; 
    margin-left: 20px; 
}
.search {
    float: left;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.15);
    line-height: 19px;
    margin-left: 300px;
    border: none;
    border-bottom: 1px solid rgba(177, 177, 177, 0.25);
    vertical-align: middle;
    padding: 5px;
}
.search2 {
    border: none;
    vertical-align: middle;
    margin-left: 10px;
    font-family: Lato;
    font-size: 16px;
}
.search3 {
    vertical-align: middle;
}
.search2::placeholder { 
    color: rgba(0, 0, 0, 0.15);
 }
.inv2 {
    float: left;
    width: 32px; 
    height: 32px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 130px;
    background:  #EAEAEA;
    border: 1px solid #EAEAEA;
} 
.icon3 {
    margin-left: 10px;
}
.icon4 {
    margin-left: 8px;
}
.inv3 {
float: left;
width: 32px; 
height: 32px;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
border: 1px solid #EAEAEA;
margin-right: 40px;
}


.inv4 {
   color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding: 10px 25px;
    background: #2275D7;
    border-radius: 20px;
}

.img {
    border: 1px solid #F6F6F6;
    margin: 20px;
    width: 304px;
    height: 304px;
    text-align: center;  
    float: left;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(177, 177, 177, 0.25);
}
.clear {
    clear: both;
}
.scr {
    border-radius: 50%;
}
.h {
 
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #333333;
}
.check2 {
font-family: Roboto;
background: #F6F6F6;
color: #2275D7;
width: 304px;
height: 74px;
margin: 0 auto;
text-align: center;
line-height: 70px;
border-top: 1px solid rgba(177, 177, 177, 0.25);
}


.id {
font-size: 12px;
text-align: left;
font-family: Lato;   
margin-left: 16px;
margin-top: 22px;
float: left;
}
span .id {
    color: grey;
    font-size: 9px;
}
.icon {
    float: right;
    margin-top: 15px;
    margin-right: 16px;
}
.middle {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}
 a {   text-decoration-line: none;
    color: #2275D7;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 304px;
  height: 230px;
  background: rgba(32, 61, 95, 0.45);
  display: none;
  line-height: 230px;
}
.img:hover .overlay {
    display: block;
  }

  .inv {
    width: 32px; 
    height: 32px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    line-height: 31px;
    margin-left: 7px;
  }
  .icon2 {
    vertical-align: middle;
  }
  .right {
      margin-left: 80px;
  }
  .left {
      background:  #203D5F;
      width: 80px; 
      height: 790px; 
      position: fixed; 
  }
  .im1 {
      position: absolute;
      vertical-align: middle;
     margin-top: 4px;
     margin-left: 4px;
  }
  .circle {
     background:  #657F9C;
     border-radius: 50%;
     vertical-align: middle;
     width: 32px; 
     height: 32px;
     margin-left: 28px;
    margin-top: 36px;
    margin-right: 28px;
  }
  .im2 {
    margin-left: 32px;
    margin-top: 42px;
  }
  .im3 {
    margin-left: 32px;
    margin-top: 40px;
    margin-bottom: 20px
  }
  .overcirc {

    display: none;
   
  }
  .im4:hover .overcirc {
      display: block;
     
  }
  .im5 {
    margin-left: 32px;
    margin-bottom: 31px;
    margin-top: 333px;
  }
  .im6 {
    margin-left: 23px;
    margin-bottom: 33px;
  }
