.img {
    border: 1px solid #F6F6F6;
    margin: 20px;
    width: 304px;
    height: 304px;
    text-align: center;  
    float: left;
    border-radius: 4px;
}
.clear {
    clear: both;
}
.scr {
    border-radius: 50%;
}
.h {
 
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #333333;
}
.check2 {
font-family: Roboto;
background: #F6F6F6;
color: #2275D7;
width: 304px;
height: 82px;
margin: 0 auto;
text-align: center;
}
.id {
font-size: 12px;
text-align: left;
font-family: Lato;   
margin: 22px;
}
span {
    color: grey;
    font-size: 9px;
}