body {
    font-family: Lato;
}
.sag {
    font-size: 14px;
    color: #B1B1B1;
    margin-left: 20px; 
}
.sag2 {
    border-bottom: 1px solid rgba(177, 177, 177, 0.25);
}
.cen {
    float: left; 
    width: 31%;
    margin: 0 1%;
}
.cenc {
    text-align: center;
}
.cenri {
    text-align: right;
}
.search {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.15);
    line-height: 19px;
    border: none;
    border-bottom: 1px solid rgba(177, 177, 177, 0.25);
    vertical-align: middle;
    padding: 5px;
    display: inline-block;
}

.search2 {
    border: none;
    vertical-align: middle;
    padding-left: 10px;
    font-family: Lato;
    font-size: 16px;
}
.search3 {
    vertical-align: middle;
}
.search2::placeholder { 
    color: rgba(0, 0, 0, 0.15);
 }
.inv2 {
    height: 32px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background:  #EAEAEA;
    border: 1px solid #EAEAEA;
    vertical-align: middle;
    display: inline-block;
} 
.icon3 {
   text-align: center;
}
.icon4 {
    vertical-align: middle;
}
.inv3 {
width: 32px; 
height: 32px;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
border: 1px solid #EAEAEA;
vertical-align: middle;
display: inline-block;
}

.inv4 {
   color: #ffffff;
    font-size: 14px;
    vertical-align: middle;
    line-height: 20px;
    padding: 10px 25px;
    background: #2275D7;
    border-radius: 20px;
    display: inline-block;
}

.img {
    border: 1px solid #F6F6F6;
    margin: 1%;
    width: 31%;
    text-align: center;  
    float: left;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(177, 177, 177, 0.25);
}
.clear {
    clear: both;
}
.scr {
    border-radius: 50%;
}
.h {
 
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #333333;
}
.check2 {
    font-family: Roboto;
    background: #F6F6F6;
    color: #2275D7;
    height: 74px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    border-top: 1px solid rgba(177, 177, 177, 0.25);
    }


.id {
font-size: 12px;
text-align: left;
font-family: Lato;   
margin-left: 16px;
margin-top: 22px;
float: left;
}
span .id {
    color: grey;
    font-size: 9px;
}
.icon {
    float: right;
    margin-top: 15px;
    margin-right: 16px;
}
.middle {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}
 a {   text-decoration-line: none;
    color: #2275D7;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background: rgba(32, 61, 95, 0.45);
  display: none;
  line-height: 230px;
}
.img:hover .overlay {
    display: block;
  }

  .inv {
    width: 32px; 
    height: 32px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    line-height: 31px;
    margin-left: 7px;
  }
  .icon2 {
    vertical-align: middle;
  }
  .right {
      margin-left: 80px;
      min-width: 800px;
  }
  .left {
      background:  #203D5F;
      width: 80px; 
      position: fixed; 
      top: 0; 
      left: 0;
      bottom: 0;
  }
  .im1 {
      position: absolute;
      vertical-align: middle;
     margin-top: 4px;
     margin-left: 4px;
  }
  .circle {
     background:  #657F9C;
     border-radius: 50%;
     vertical-align: middle;
     width: 32px; 
     height: 32px;
     margin-left: 28px;
    margin-top: 36px;
    margin-right: 28px;
    margin-bottom: 21px;
  }

  .im5 {
    margin-left: 32px;
  }
  .im6 {
    margin-top: 31px; 
    margin-left: 23px;
    margin-bottom: 33px;
  }
  .in {
width: 16px; 
    height: 16px;    
      border-radius: 50%;
      border: 2px solid #6B85A2;
      vertical-align: middle;
      display: inline-block;
      margin-left: 32px;
      margin-top: 21px;
     box-sizing: border-box;
      }
  .push {
    height: 58px;
  }
  .push:hover .in {
    width: 18px; 
    height: 18px;
      background: #F6F6F6;
      border: #F6F6F6;
  }
  .push:hover {
      background:  #2F6ECD;
  }
.imbot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}