.img {
    border: 1px solid #F6F6F6;
    margin: 20px;
    width: 304px;
    height: 304px;
    text-align: center;  
    float: left;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(177, 177, 177, 0.25);
}
.clear {
    clear: both;
}
.scr {
    border-radius: 50%;
}
.h {
 
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #333333;
}
.check2 {
font-family: Roboto;
background: #F6F6F6;
color: #2275D7;
width: 304px;
height: 73px;
margin: 0 auto;
text-align: center;
line-height: 70px;
border-top: 1px solid rgba(177, 177, 177, 0.25);
}


.id {
font-size: 12px;
text-align: left;
font-family: Lato;   
margin-left: 16px;
margin-top: 22px;
float: left;
}
span .id {
    color: grey;
    font-size: 9px;
}
.icon {
    float: right;
    margin-top: 15px;
    margin-right: 16px;
}
.middle {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}
 a {   text-decoration-line: none;
    color: #2275D7;
}
.overlay {
    position: absolute;
  top: 0;
  left: 0;
  width: 304px;
  height: 230px;
  background: rgba(32, 61, 95, 0.45);
  display: none;
  line-height: 230px;
}
.img:hover .overlay {
    display: block;
  }

  .inv {
    width: 32px; 
    height: 32px;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    line-height: 31px;
    margin: 7px;
  }