nav {
    padding: 10px;
    border: 1px solid #F6F6F6;
    text-align: center;
    margin: 0 auto;
    width: 304px;
    height: 304px;
}
.scr {
    border-radius: 50%;
}
.h {
 
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #333333;
}
.check2 {
font-family: Roboto;
background: #F6F6F6;
color: #2275D7;
width: 304px;
height: 77px;
margine: 0 auto;
}
